
<h1>Profile for <%= @user.username %></h1>
<div class="col-md-8">
<ul>

  <% @user.briefs.each do |x| %>
    <li>
    <%= x.brief %>
    <br>
    created on <%= time_ago_in_words x.created_at %>
    by <%= x.user.username %>
    </li>
  <%end%>
</ul>
</div>
<div class="col-md-4">
  <%= link_to "create_friendship", "follow", class: "btn btn-primary btn-lg" %>
  </div>
