<h1>Briefs#index</h1>

<div class="col-md-4">
<p>Hi <%= @current_user.username %></p>

<%= form_for @brief, url: post_brief_path do |f| %>
  <%= f.text_area :brief %>
  <%= f.submit %>
<%end%>

<ul>
  <% @briefs.each do |x| %>
  <li>
    <%= x.brief %>
    <%= time_ago_in_words x.created_at %> ago by <%= x.user.username %>
  </li>
<%end%>
</ul>
</div>
<div class="col-md-8 bg-primary">
<h3>following</h3>
<% @users.each do |x| %>
  <%= x.username%>
  <% x.briefs.each do |y| %>
    <ul><li><%= y.brief %></li></ul>
  <%end%>
  <hr>
<%end%>
</div>
