<h1>Briefs#index</h1>

<div class="col-md-4" style="">
<p>Hi <%= @current_user.username %></p>

<%= form_for @brief, url: post_brief_path do |f| %>
  <%= f.text_area :brief %>
  <%= f.submit %>
<%end%>

<ul>
  <% @briefs.each do |x| %>
  <li>
    <%= x.brief %>
    <%= time_ago_in_words x.created_at %> ago by <%= x.user.username %>
  </li>
<%end%>
</ul>
</div>

<div class="col-md-8 col-sm-12 bg-success ">
  <% @users.each do |user| %>
    <% user.friendships.each do |friendship| %>
      <% if friendship.user_id == @current_user.id %>
        <% friendship.friend_id %>
      <%end%>
    <%end%>
  <%end%>
</div>


<div class="col-md-8 col-sm-12 bg-primary">
<h3>Friendships:::</h3>
  <% Friendship.all.each do |i| %>
  <%= i.friend.username %>
    <% i.user.timeline.each do |x| %>
      <%= x.brief %><hr>
    <%end%>
  <%end%>
</div>
