<h1>Briefs#index</h1>

<div class="col-md-4" style="">
<p>Hi <%= @current_user.username %></p>

<%= form_for @brief, url: post_brief_path do |f| %>
  <%= f.text_area :brief %>
  <%= f.submit %>
<%end%>

<ul>
  <% @briefs.each do |x| %>
    <li>
      <%= x.brief %>
      <%= time_ago_in_words x.created_at %> ago by <%= x.user.username %>
    </li>
  <%end%>
</ul>
</div>

<div class="col-md-8 col-sm-12 bg-success">
<h3>Friendships</h3>

<% @current_user.friends.each do |x|%>
  <% x.briefs.all.each do |i| %>
    <%= link_to i.user.username, profile_path(username: i.user.username) %>: <%=i.brief%>
    <br>
  <%end%>

<%end%>

</div>
